<div class="col-lg-12">
  <div class="card card-container">
    <div class="card-header">
      <img id="profile-img" src="../../assets/images/logo_login.png" height="192" width="192" class="profile-img-card"
           alt="Bitte einloggen um die Kurse zu verwalten."/>
      <p class="text-center">Login online Kursverwaltung</p>
    </div>

    <div class="card-body">
      <form [formGroup]="loginForm" *ngIf="!isLoggedIn" name="loginForm" (ngSubmit)="onSubmit()">

        <label><sup class="text-danger">*</sup> Benutzername</label>
        <input formControlName="username" type="text" class="form-control"/>
        <ng-container *ngIf="loginForm.controls['username'] as username">
          <ng-container *ngIf="username?.dirty || username?.touched">
            <ng-container *ngIf="username?.errors as errors">
              <div class="alert alert-danger" *ngIf="errors['required']">
                Der Benutzername ist ein Pflichtfeld!
              </div>
              <div class="alert alert-danger" *ngIf="errors['minlength']">
                Mindestens {{errors['minlength'].requiredLength}} Zeichen eingeben!
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

        <label><sup class="text-danger">*</sup> Passwort</label>
        <input formControlName="password" type="password" class="form-control"/>
        <ng-container *ngIf="loginForm.controls['password'] as password">
          <ng-container *ngIf="password?.dirty || password?.touched">
            <ng-container *ngIf="password?.errors as errors">
              <div class="alert alert-danger" *ngIf="errors['required']">
                Das Passwort ist ein Pflichtfeld!
              </div>
              <div class="alert alert-danger" *ngIf="errors['minlength']">
                Mindestens {{errors['minlength'].requiredLength}} Zeichen eingeben!
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

        <div class="d-grid gap-2">
          <br>
          <button [disabled]="(!loginForm.valid && (loginForm.dirty || loginForm.touched))"
                  class="btn btn-primary" type="submit">Login
          </button>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
          Login fehlgeschlagen: {{ errorMessage }}
        </div>

      </form>

      <div class="alert alert-success text-center" *ngIf="isLoggedIn">
        Sie sind jetzt eingeloggt!
      </div>

    </div>

    <div class="card-footer" *ngIf="!isLoggedIn">
      <sup class="text-danger">*</sup> Pflichtfelder
    </div>

    <div class="card-footer text-center" *ngIf="isLoggedIn">
      Enjoy!
    </div>


  </div>
</div>
