<div class="container-sm">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Impressum</h2>
    </div>
<div class="card-body">
  <h3>Angaben gemäß § 5 TMG</h3>
  <p>Torsten Haberland<br />
    Teilnehmer Weiterbildendes Studium der Universität Bremen<br />
    Projektarbeit als Simulation ohne geschäftliche Interessen<br />
    Friesenstr. 32<br />
    28203 Bremen</p>

  <h3>Kontakt</h3>
  <p>Telefon: 0049 1520 915 99 44<br />
    E-Mail: toha@uni-bremen.de</p>

  <h4>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h4>
  <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

  <p><small>Quelle: <a class="text-decoration-none  text-secondary" href="https://www.e-recht24.de" target="_blank">eRecht24</a></small></p>
</div>
    <div class="card-footer text-end">
      <button class="btn btn-sm btn-info" (click)="formatter.back()">
        <i class="fa fa-arrow-left"></i> Back
      </button>
    </div>
  </div>
</div>
